<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Untitled 1</title>
</head>

<body>

<div>                                    
	<h2>Anmeldung:</h2>
	
	<p th:if="${loginError}">Wrong user or password</p>
	
	<form enctype="multipart/form-data" class="form" id="form" name="form" th:action="@{/login}" method="post">
	
		<label for="username" class="field">Benutzername:</label>		                                          
		<input class="typetext required" type="text" name="username" id="username" autofocus="autofocus" placeholder="Benutzername" style="width: 300px; ">
		
		<label for="password" class="field">Passwort:</label>
		<input class="typetext required" type="password" name="password" id="password" placeholder="Passwort" style="width: 300px; " th:required="required">
		
		<div class="formbuttons">
			<input type="submit" class="button" value="Absenden">
		</div>
		
	</form>
</div>



<div>
	<h2>Neuen Kunden hinzufügen</h2>
        <form enctype="multipart/form-data" class="form" th:object="${kundenDaten}" th:action="@{/addKunden}" method="post">
			<input type="hidden" name="f_title" value="Neues Personal">
			<input type="hidden" name="f_success" value="neues-personal.html">
			<input type="hidden" name="f_error" value="neues-personal.html">
			<input type="hidden" name="f_id" value="1571">
			<input type="hidden" name="f_alertPrefix" value="Bitte füllen Sie die rot markierten Felder aus:">
			<input type="hidden" name="f_invalidEmailMsg" value="keine gültige E-Mail">
 
                                        <label for="F1" class="field">Name</label>
                                        <input th:field="*{nachname}" class="typetext  required" type="text" name="F1" id="F1" placeholder="Name" value="" style="width: 200px; " maxlength="20" th:required="required">
   
                                        <label for="F2" class="field">Vorname</label>
                                        <input th:field="*{vorname}" class="typetext  required" type="text" name="F2" id="F2" placeholder="Vorname" style="width: 200px; " maxlength="20" required="required">                                                                                             

                                        <div class="separator">&nbsp;</div>
                                      
                                      	<!--
                                        <label for="F5" class="field">Straße</label>
                                        <input th:field="*{strasse}" class="typetext  required" type="text" name="F5" id="F5" placeholder="Straße" value="" style="width: 200px; " maxlength="40" th:required="required">
                                      
                                        <label for="F5_2" class="field">Ort</label>
                                        <input th:field="*{ort}" class="typetext  required" type="text" name="F5_2" id="F5_2" placeholder="Ort" value="" style="width: 200px; " maxlength="40" th:required="required">
                                        
                                        <label for="F6" class="field">PLZ</label>
                                        <input th:field="*{plz}" class="typetext  required" type="number" name="F6" id="F6" placeholder="PLZ" style="width: 200px; " maxlength="20" th:required="required">
                                        
                                        <div class="separator">&nbsp;</div>                                      
                                        
                                        <label for="F12" class="field">Telefon</label>
                                        <input th:field="*{telefon}" class="typetext " type="tel" name="F12" id="F12" placeholder="Telefon" style="width: 200px; " maxlength="20" th:required="required">
                                        
                                        <label for="F8" class="field">E-Mail</label>
                                        <input th:field="*{email}" class="typetext  required" type="email" name="F8" id="F8" placeholder="E-Mail" style="width: 200px; " maxlength="200" th:required="required">
                                        -->
                                        
                                        <label for="F9" class="field">Username</label>
                                        <input th:field="*{username}" class="typetext required" type="text" name="F9" id="F9" placeholder="Username" style="width: 200px; " maxlength="20" th:required="required">
                                        
                                        <label for="F10" class="field">Passwort</label>
                                        <input th:field="*{password}" class="typetext required" type="password" name="F10" id="F10" placeholder="Username" style="width: 200px; " maxlength="20" th:required="required">                                        
                                        
                                        <div class="formbuttons">
                                            <input type="submit" class="button" value="Absenden">
                                        </div>
                                    </form>
                                    
                                </div>




</body>

</html>
